<p id="notice"><%= notice %></p>

<p>
<%= link_to new_song_path do %>
  <span class="glyphicon glyphicon-plus"></span> Add New Song  
<% end %>
</p>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="well">
    	<h3><%= @song.name %></h3>
    	<h4><%= @song.artist.name %></h4>
    	<p>
      <% @song.rating.times do %>
      <span class="glyphicon glyphicon-star" style="color:yellow"></span>
      <% end %>
      <% (10-(@song.rating)).times do%>
      <span class="glyphicon glyphicon-star"></span>
      <% end %>
      </p>



    </div>
	</div>
</div>

<p>
  <%= link_to edit_song_path(@song) do %>
  <span class="glyphicon glyphicon-pencil"></span> Edit
   <%end %>
   &nbsp;
   <%= link_to songs_path do  %>
   <span class="glyphicon glyphicon-backward"></span> Back
   <% end %>
 </p>
